:root {

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
}
a {
  font-weight: 500;
  color: #0B70CF;
  text-decoration: none;
}
a:hover {
  color: white;

}
body {

}
h1 {

}
h2 {
  font-size: 0.7rem;
  font-weight: 400;
}

}
footer {
  bottom: 0px;
}