:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
}

a {
  font-weight: 500;
  color: #0b70cf;
  text-decoration: none;
}
a:hover {
  color: white;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  color: #0b70cf;
  background: rgb(110, 205, 255);
  background: linear-gradient(
      180deg,
      rgba(110, 205, 255, 1) 0%,
      rgba(255, 255, 255, 1) 8%,
      rgba(47, 183, 254, 1) 74%,
      rgba(110, 205, 255, 1) 100%
  );
}

header {
  position: relative;
  top: 0px;
  width: 100vw;
  text-align: center;
}

h1 {
  font-size: 1rem;
  line-height: 1.1;
}

h2 {
  font-size: 0.7rem;
  font-weight: 400;
}

.suchbox {
  
  display: flex;
  justify-content: center;
}

button {
  border: 1px solid rgba(110, 205, 255, 1);
  background-color: rgba(110, 205, 255, 1);
  border-radius: 10px;
  margin-left: 10px;
  padding: 10px;
}

input {
  border: 1px solid rgba(110, 205, 255, 1);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

select {
  border: 1px solid rgba(110, 205, 255, 1);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  background-color: white;
}

.display {
  text-align: center;
  position: absolute;
  width: 100vw;
  background-color: rgba(240, 255, 255, 0.222);
  border-radius: 10px;
}

.wetterdisplay {
  padding-bottom: 5px ;
  /* padding-top: 2.5px; */
  /* background-color: blue; */
  border-radius: 10px;
}

.wetterdisplay2 {
  display: flex;
  justify-content: center;
  gap: 12px;
  top: 367px;
  /* background-color: aquamarine; */
  text-align: center;
  position: absolute;
  width: 100vw;
  border-radius: 10px;
  line-height: 25%;
  margin-top: 20px;
}



.gebiet {
color:rgba(47, 183, 254, 1);
line-height: 0%;
}

.temperatur {
font-size: 50px;
line-height: 0%;

}

.wetter {
line-height: 0%;
}

span {
font-size: 40px;
}

.sonne {
  /* background-color: aqua; */
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 10px;
  line-height: 0%;
  margin-top: 15px;
 

}

.fuenftageslink {
  position: absolute;
  bottom: 63px;
 
  margin: 0 auto;
  /* background-color: aquamarine; */
  height: 140px;
  
}

footer {
  bottom: 0px;
  color: #0b70cf;
}
.wetterdata-countener{
display: flex;
flex-direction: row;
justify-content:space-around;
gap: 10px;
font-size: 10px;
line-height: 1px;
padding-inline: 10px;

}

.fuenf {
  line-height: normal;
}

.windspeed {
  line-height: normal;
}

.img_fuenf_tage{
  width: 40px;
}

.img_tags_schau{
  width: 80px;
}